<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<connectionStrings>
		<add name="SAPSQlContext" connectionString="Server=sclm1db01:30015;UserName=B1ADMIN;Password=Z3z2Y4uY3kyACF"/>
		<!--add name="SAPSQlContext" connectionString="Server=gigasmiadb01:30015;UserName=DBUSER_EBENZR;Password=s-6YerY2s.-GUj-D"/-->
		<!--add name="SAPSQlContext" connectionString="Server=suse15:30015;UserName=B1ADMIN;Password=Colombia2021"/-->
	</connectionStrings>
	<appSettings>
		<add key="schema" value="EBENZR_PRO"/>
		<add key="LogPath" value="C:\ServicioWindows\EBENEZER\Logs\" />
		<add key="ServiceName" value="WSXmlSendToSoap" />
		<add key="ProcessName" value="WSXmlSendToSoapProcess" />
		<add key="SoapUser" value="ebenezerws" />
		<add key="SoapPassword" value="Qazplm1234**" />
		<add key="XmlPath" value="C:\ServicioWindows\EBENEZER\XML" />

		<!--<add key="schema" value="DEV_FORTIS"/>
		<add key="LogPath" value="C:\ServicioWindows\FORTIS\Logs" />
		<add key="ServiceName" value="WSXmlSendToSoap" />
		<add key="ProcessName" value="WSXmlSendToSoapProcess" />
		<add key="SoapUser" value="manager" />
		<add key="SoapPassword" value="manager" />
		<add key="XmlPath" value="C:\ServicioWindows\FORTIS\XML" />-->
	</appSettings>
</configuration>